* {
  font-family: "Jost", "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

ul {
  list-style: none;
}

/* HEADER */

.header {
  display: grid;
  align-items: center;
  height: 80px;
  border-bottom: none;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
  background-color: #fff;
}
.header .navigation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.fixed-top {
  position: fixed;
  top: 40px;
  right: 0;
  left: 0;
  z-index: 1030;
}

.header .navigation .brand {
  text-decoration: none;
  white-space: nowrap;
  font-size: 34px;
  font-weight: 600;
  color: #019401;
}

.header .navigation .navBar {
  flex-basis: 100%;
  flex-grow: 1;
  justify-content: space-between;
}

.header .navigation .navBar .navBar-ul {
  display: flex;
  justify-content: flex-end;
}

.header .navigation .navBar .navBar-ul li {
  padding: 0 20px;
  font-size: 20px;
  font-weight: 400;
}
.header .navigation .navBar .navBar-ul span {
  font-size: 12px;
}

.header .navigation .navBar .navBar-ul .active {
  color: #019401;
}

.header .navigation .navBar .navBar-ul a:hover {
  color: #019401;
  transition: all 0.5s;
}

.header .navigation .navBar .navBar-ul a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #019401;
  transition: all 0.5s;
}

.header .navigation .navBar .navBar-ul a:hover::after {
  width: 100%;
}

.header .navigation .themeMode {
  font-size: 20px;
  font-weight: 400;
}

.header .navigation .themeMode .navbar-toggler {
  margin-left: 10px;
  background-color: #019401;
  border: none;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  display: none;
}

/* ABOUT */
.about {
  position: relative;
  margin-top: 90px;
  background-image: url("../img/banner4.jpeg");
  background-repeat: none;
  background-size: cover;
  background-position: center;
  z-index: 0;
  display: grid;
  align-items: center;
  padding: 60px 0;
}

.about::before {
  content: "";
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  position: absolute;
  display: block;
  z-index: -1;
}
.about h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  color: #fff;
}
.about .info {
  text-align: center;
}

.about .info li {
  display: inline-block;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
}

.about .info li a {
  color: #019401;
}

.about .info .active {
  color: #fff;
}
.about .info li i {
  font-size: 16px;
  line-height: 1.5;
  padding: 0 10px;
}

/* CONTENT - ABOUT */
/* INTRODUCTION */
.content-about .introduction .row {
  margin-top: 80px;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 80px;
  align-items: center;
}

.content-about h6 {
  font-size: 18px;
  font-weight: 400;
  color: red;
}

.content-about h1 {
  font-size: 35px;
  font-weight: 600;
}
.content-about .introduction .row .item-left h1 {
  margin-top: 10px;
}

.content-about .introduction .row .item-left h3 {
  margin-top: 10px;
  font-size: 24px;
  margin-bottom: 30px;
}

.content-about p {
  color: gray;
  font-size: 20px;
  line-height: 1.5;
  padding-bottom: 15px;
}

.content-about .introduction .row .item-right .read {
  display: inline-block;
  margin-top: 30px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px solid #019401;
}

.content-about .introduction .row .item-right .read:hover {
  color: #019401;
  transition: all 0.5s;
}

/* HISTORY */
.content-about .history {
  position: relative;
  background: url("../img/banner2.jpeg") no-repeat center;
  background-size: cover;
}

.content-about .history::before {
  content: "";
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.65;
}

.content-about .history .text {
  padding: 80px 0;
  width: 50%;
  transform: translateX(-30px);
  float: right;
  color: white;
}

.content-about .history .text h1 {
  font-size: 35px;
  font-weight: 600;
}

.content-about .history .text p {
  font-size: 20px;
  color: #cfcccc;
}

.content-about .history .text .year-info {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

/* REASON */

.content-about .reason .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 60px 0;
  gap: 60px;
}

.content-about .reason .row .item-left {
  text-align: right;
}

.content-about .reason .row .item-left img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.content-about .reason .row .item-right .list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-about .reason .row .item-right .list .col {
  display: flex;
}
.content-about .reason .row .item-right .list .icon {
  padding-right: 20px;
  width: 120px;
}
.content-about .reason .row .item-right .list .icon i {
  width: 100%;
  font-size: 40px;
  color: green;
  position: relative;
  top: 6px;
}

.content-about .reason .row .item-right .list .text h3 {
  font-size: 24px;
}

.content-about .reason .row .item-right .list .text h3:hover {
  color: green;
}

.content-about .reason .row .item-right .list .text p {
  padding-bottom: 50px;
}

/* EXPERTS */
.experts {
  padding: 60px 0;
  background-color: #f3f1f1;
}
.content-about .experts .title {
  text-align: center;
}

.content-about .experts .list-expert {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.content-about .experts .list-expert .col {
  text-align: center;
}

.content-about .experts .list-expert .col:hover img {
  transform: scale(1.1git);
  transform-origin: 50% 50%;
}
.content-about .experts .list-expert .col:hover h3 {
  color: green;
}

.content-about .experts .list-expert .col .image-expert {
  display: inline-block;
  overflow: hidden;
  border-radius: 10px;
}

.content-about .experts .list-expert .col img {
  width: 100%;
  display: block;
  transition: transform 0.4s;
}

.content-about .experts .list-expert .col h3 {
  font-size: 22px;
}
.content-about .experts .list-expert .col p {
  font-size: 16px;
}

.content-about .experts .list-expert .col .icon a {
  display: inline-block;
  margin-right: 6px;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  line-height: 30px;
  text-align: center;
  background-color: gainsboro;
  color: green;
}

.content-about .experts .list-expert .col .icon a i {
  font-size: 12px;
}

.content-about .experts .list-expert .col .icon a:hover {
  background-color: green;
  color: white;
}

/* FOOTER */

.footer {
  background-color: black;
}

.footer .footer-top {
  border-bottom: 0.5px solid rgb(49, 48, 48);
}
.footer .footer-top .row {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 50px;
  padding-bottom: 50px;
}

.footer .footer-top .row h3 {
  padding-top: 60px;
  padding-bottom: 20px;
  color: #fff;
  font-size: 20px;
}

.footer .footer-top .row p,
.footer .footer-top .row a {
  color: gray;
}

.footer .footer-top .row li {
  padding-bottom: 10px;
}

.footer .footer-top .row li i {
  color: gray;
  padding-right: 10px;
}

.footer .footer-top .row li i:hover {
  color: #fff;
}

.footer .footer-top .row .active:hover {
  color: white;
  text-decoration: underline;
}

.footer .footer-top .row li p span {
  font-size: 17px;
  font-weight: bold;
}

.footer .footer-top .row .footer-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer .footer-bottom p {
  color: gray;
  text-align: center;
  padding: 25px 0;
}

.footer .footer-bottom span a {
  color: red;
}

.footer .footer-bottom span a:hover {
  text-decoration: underline;
}

/* RESPONSIVE */
@media screen and (max-width: 992px) {
  .container {
    padding: 0 40px;
  }
<<<<<<< HEAD:css/style.css

  /* HEADER */
  .header .navigation .navBar {
    display: none;
  }
  .header .navigation .themeMode .navbar-toggler {
    display: inline-block;
  }
  /* CONTENT - CONTACT */
  .content-contact .row {
    display: flex;
    flex-direction: column;
  }
}
 @media screen and (max-width: 768px) {
=======
}

@media screen and (max-width: 768px) {
>>>>>>> 8c91cd37a39e750f6c2cb4a2a6e6f8d994b1dfa3:css/about.css
  .container {
    padding: 0 40px;
  }
  /* HEADER */
  .header .navigation .navBar {
    display: none;
  }
  .header .navigation .themeMode .navbar-toggler {
    display: inline-block;
  }
  /* CONTENT-ABOUT */
  .content-about .introduction .row {
    display: block;
    margin-top: 50px;
    padding-bottom: 50px;
  }

  .content-about p {
    margin-top: 10px;
  }

  .content-about .history::before {
    opacity: 0.65;
  }

  .content-about .history .text {
    padding: 50px 60px;
    width: 100%;
    transform: translateX(0);
  }

  .content-about .reason .row {
    display: block;
  }
  .content-about .reason .row .item-left {
    text-align: left;
  }

  .content-about .reason .row .item-right .list .text p {
    padding-bottom: 10px;
  }

  .content-about .experts .list-expert {
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  /* FOOTER */
  .footer .footer-top .row {
    display: block;
  }
  .footer .footer-top .row .footer-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding: 0 20px;
  }
  /* HEADER */
  .header .navigation .navBar {
    display: none;
  }
  .header .navigation .themeMode .navbar-toggler {
    display: inline-block;
  }

  /* CONTENT-ABOUT */
  .content-about .introduction .row {
    display: block;
    margin-top: 50px;
    padding-bottom: 50px;
  }

  .content-about p {
    margin-top: 10px;
  }

  .content-about .history .text {
    padding: 50px 0;
    width: 100%;
    transform: translateX(0);
  }

  .content-about .history .text .year-info {
    grid-template-columns: repeat(2, 1fr);
  }

  .content-about .reason .row {
    display: block;
  }
  .content-about .reason .row .item-left {
    text-align: left;
  }

  .content-about .reason .row .item-right .list {
    display: block;
  }

  .content-about .reason .row .item-right .list .col {
    display: block;
    text-align: center;
  }
  .content-about .reason .row .item-right .list .icon {
    padding: 20px 0;
    width: auto;
  }
  .content-about .experts .list-expert {
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }

  /* FOOTER */
  .footer .footer-top .row {
    display: block;
  }
  .footer .footer-top .row .footer-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}



